.center {
    text-align: center;
}
.link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
}
.info {
    color: black;
    background-color: #e4f2f8;
    margin: auto;
    padding: 15px 10px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
}
.code {
    font-family: monospace;
}
.container {
    margin-top: 30px;
}

img {
    max-width: 150px;
}

.greeting {
    height: 75px;
}
h1 {
  text-shadow: 2px 2px 2px #CCCCCC;
}

.list {
  /* overflow: scroll; */
  border: 0px solid black,;
  height: 600px;
}
.item {
  backface-visibility: hidden;
  margin: 1rem;
  padding: 1rem;
  background-color: #9eebcf;
  display: inline-block;
  box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: .5rem;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.img_item {
  max-width: 100%;
  border-style: none;
}